@model Recode_MVC_Dot_Net.Models.Destino

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Destino</h1>

<h4>Destino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DestinoId" />
            <div class="form-group">
                <label asp-for="NomeDoDestino" class="control-label"></label>
                <input asp-for="NomeDoDestino" class="form-control" />
                <span asp-validation-for="NomeDoDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
